<h1>All comments - <%= comments.count %> submitted</h1>
<% comments.each do |comment| %>
	<p><%= comment.body if comment %></p>
	<p><small>
		Submitted <strong><%= time_ago_in_words(comment.created_at) if comment.created_at %> ago</strong> 
		by <%= link_to(comment.user.email, user_show_path(quiz.user.id)) if comment.user %>
	</small></p>

	<% if comment.user == current_user %>
		<%= link_to 'Edit', edit_quiz_comment_path(quiz, comment) %> |
		<%= link_to 'Destroy', [quiz, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>
