<p>hello, <%= @user.email.split('@').first %></p>
<h1>Listing Quizzes<h1>
<p><% @quizzes.each do |quiz| %>
	<%= link_to(quiz.name, quiz) %>
	<br>
<% end %></p>
<h1>Listing Scores<h1>
<table>
	<tr>
		<td>Name</td>
		<td>Score</td>
		<td>Date</td>
	</tr>
	<% @scores.each do |score| %>
		<tr>
			<td><%= score.quiz.name %></td> 
			<td><%= score.score %></td> 
			<td><%= score.created_at %></td>
		</tr>
	<% end %>
<table>

<h1>Listing badges</h1>
<ul>
	<% @user.badges.each do |badge| %>
		<li><%= badge.name %></li>
	<% end %>
</ul>

<h1>Points for playing<h1>
<%= current_user.points(category: 'Play') %>

<h1>Points for creating<h1>
<%= current_user.points(category: 'Create') %>

<h1>All points<h1>
<%= current_user.points %>

<p><%= link_to 'Back', root_path %></p>
