<p id="notice"><%= notice %></p>

<h1>Listing Quizzes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.name %></td>
        <td> <%= quiz.user.email %> </td>
        <td><%= link_to 'Show', quiz %></td>
        <% if quiz.user == current_user %>
          <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
          <td><%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = "digg_pagination">
	<div class="page_info">
      <%= page_entries_info @quizzes %>
    </div>
<%= will_paginate @quizzes, :container => false %>
</div>

<%= link_to 'New Quiz', new_quiz_path %>
