<p>
	<strong>Name:</strong>
	<%= @quiz.name %>
</p>

<%= form_for @score do |f| %>
	<% if @quiz_variant.nil? %>
		<p>This quiz is empty.</p>
	<% else %>
		<% @quiz_variant.questions.each_with_index do |question, index| %>
			<p><%= question.prompt %></p>
			<% correct_answer = -1 %>
			<% question.answers.each_with_index do |answer, index2| %>
				<input type="radio" name="answer[<%= index %>]" value="<%= index2 %>"><%= answer.text %><br>
				<% correct_answer = index2 if answer.correct? %>
			<% end %>
			<input type="hidden" name="correct[<%= index %>]" value="<%= correct_answer %>">
		<% end %>
		<input type="hidden" name="quiz_id" value="<%= @quiz.id %>">
		<input type="hidden" name="user_id" value="<%= current_user.nil? ? -1 : current_user.id %>">
		<%= f.submit "Submit Quiz", data: { confirm: 'Are you sure? '} %>
	<% end %>
<% end %>

<br />

<% if @quiz.user == current_user %>
	<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<% end %>
<%= link_to 'Back', quizzes_path %>

<%= render 'comments/comments', comments: @quiz.comments, quiz: @quiz %>
<%= render 'comments/form' %>