<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Ans1:</strong>
  <%= @question.ans1 %>
</p>

<p>
  <strong>Ans2:</strong>
  <%= @question.ans2 %>
</p>

<p>
  <strong>Ans3:</strong>
  <%= @question.ans3 %>
</p>

<p>
  <strong>Ans4:</strong>
  <%= @question.ans4 %>
</p>

<p>
  <strong>Ans5:</strong>
  <%= @question.ans5 %>
</p>

<p>
  <strong>Ans6:</strong>
  <%= @question.ans6 %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @question.correct %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @question.quiz %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
